# Lab 1 - Pandas Intro

In [26]:
import pandas as pd

movies_df = pd.read_csv("movie.csv")
movies_df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

## Questions

**0.** What is the average IMDB Score of all the movies?

In [27]:
movies_df.imdb_score.mean()

6.4374288039056085

**1.** How many movies have "Star Wars" in the movie_title field?

In [28]:
movies_df.movie_title.str.contains(r'Star Wars').sum()

8

**2.** Which movie has the highest IMDB Score? What is that score?

In [29]:
highest_movie = movies_df.imdb_score.max()
# movies_df.movie_title
float [highest_movie]

TypeError: 'type' object is not subscriptable

**3**. Which movie has the lowest IMDB Score? What is that score?

In [ ]:
lowest_movie = movies_df.imdb_score.min()
movies_df.lowest_movie.movie_title

AttributeError: 'DataFrame' object has no attribute 'lowest_movie'

**4.** For each director, how many movies have they directed (from this dataset)?

In [ ]:
movies_df.director_name.value_counts()

Steven Spielberg    26
Woody Allen         22
Martin Scorsese     20
Clint Eastwood      20
Ridley Scott        16
                    ..
John Putch           1
Luca Guadagnino      1
Sam Fell             1
Dan Fogelman         1
Daniel Hsia          1
Name: director_name, Length: 2397, dtype: int64

**5.** What's the average duration of Action movies?

In [ ]:
action_movies = movies_df.genres.str.contains(r'Action')
action_movies.duration.mean()

AttributeError: 'Series' object has no attribute 'duration'

**6.** Which PG-13 movie had the biggest budget?

In [ ]:
movies_df.loc[movies_df['PG-13'].max()]

KeyError: 'PG-13'

**7.** How many movies were made in each year (title_year)?

In [ ]:
movies_df.title_year.value_counts()

2009.0    253
2014.0    243
2006.0    233
2013.0    231
2010.0    225
         ...
1932.0      1
1916.0      1
1934.0      1
1925.0      1
1920.0      1
Name: title_year, Length: 91, dtype: int64

**8.** How many movies had more than 10000 movie_facebook_likes?

In [ ]:
limit = 10000

(movies_df['movie_facebook_likes'] < limit).sum()

3818


**9.** How many movies have "Tom Hanks" (as actor1, actor2, or actor3)?

In [ ]:
# My try//
# actor1 = movies_df.actor_1_name.str.contains(r'Tom Hanks').sum()
# actor2 = movies_df.actor_2_name.str.contains(r'Tom Hanks').sum()
# actor3 = movies_df.actor_3_name.str.contains(r'Tom Hanks').sum()

# Tommy = actor1 + actor2 + actor3

# Tommy

In [65]:
mask = (
    (movies_df.actor_1_name == "Tom Hanks") |
    (movies_df.actor_2_name == "Tom Hanks") | 
    (movies_df.actor_1_name == "Tom Hanks")
)
mask

movies_df[mask].movie_title

43                            Toy Story 3
91                      The Polar Express
129                       Angels & Demons
205                     The Da Vinci Code
307                           Cloud Atlas
349                           Toy Story 2
390                             Cast Away
451                     Road to Perdition
530                          The Terminal
534                  Charlie Wilson's War
641                   Saving Private Ryan
648                             Apollo 13
651                       You've Got Mail
704                        The Green Mile
827                          Forrest Gump
836                      Captain Phillips
902                   Catch Me If You Can
1185                A League of Their Own
1213                      Bridge of Spies
1258    Extremely Loud & Incredibly Close
1415                     Saving Mr. Banks
1426                      The Ladykillers
1572                            Toy Story
1645                         Larry Crowne
2364                                  Big
2536                         Philadelphia
3300                               Splash
4095                   That Thing You Do!
Name: movie_title, dtype: object

In [66]:
# movies with kevin Hart and Dwanye as the first actor
# mask = movies_df.actor_1_name.isin(["Kevin Hart", "Dwayne Johnson"])

# movies_df[mask].movie_title

**10.**  What are the movies and number of voted users (num_voted_users) for movies that have less than 2 faces in the poster (facenumber_in_poster)?

In [82]:
year = ((movies_df.facenumber_in_poster > 2))


movies_df[year][["num_voted_users", "movie_title"]]

      num_voted_users                                  movie_title
8              462669                      Avengers: Age of Ultron
9              321795       Harry Potter and the Half-Blood Prince
16             149922     The Chronicles of Narnia: Prince Caspian
17             995415                                 The Avengers
18             370704  Pirates of the Caribbean: On Stranger Tides
...               ...                                          ...
4870              181                                 A True Story
4872             2631                  Smiling Fish & Goat on Fire
4881             2646                                 Down Terrace
4882           181749                                       Clerks
4914             1255                             Shanghai Calling

[888 rows x 2 columns]

**11.** What are the directors and number of director facebook likes for movies made beteween 2000 and 2004 (inclusive) sorted in descending order of director facebook likes?

In [91]:
betweenYears = (( movies_df.title_year >= 2000) & (movies_df.title_year <= 2004))

movies_df[betweenYears][["director_name", "director_facebook_likes" ]]

        director_name  director_facebook_likes  title_year
31          Sam Raimi                      0.0      2004.0
91    Robert Zemeckis                      0.0      2004.0
94    Jonathan Mostow                     84.0      2003.0
100         Rob Cohen                    357.0      2001.0
111       Michael Bay                      0.0      2001.0
...               ...                      ...         ...
4899  Olivier Assayas                    107.0      2004.0
4900     Jafar Panahi                    397.0      2000.0
4903     Tadeo Garcia                      5.0      2004.0
4906    Shane Carruth                    291.0      2004.0
4915         Jon Gunn                     16.0      2004.0

[932 rows x 3 columns]

12. What are the missing Values (NaN)?

In [92]:
#NaN in duration
movies_df.duration.isna().sum()

0

In [94]:
# Fill NaN
movies_df.duration.isna().sum()/ len(movies_df)
movies_df.duration.fillna(movies_df.duration.median(), inplace=True )
# in a specified place
movies_df.loc[4].duration

103.0